    MaxNumStudents                                5      # amount to charge per train stop 
              NumStudents                             2       # number of students to create
        NumStops                                     2       # number of train stops; minimum of 2
    StopCost                  1      # maximum students each train can carry
TimerDelay                              2       # length of time between each tick of the timer
    MaxStudentDelay                 10      # maximum random student delay between trips
            NumCouriers                 3       # maximum number of train trips each student takes
                                            MaxStudentTrips                   10      # length of time between initializing gift cards
        ParentalDelay                  5       # length of time between checking on passenger POPs
ConductorDelay                   5       # length of time between cash deposits
    GroupoffDelay                             1       # number of WATCard office couriers in the pool
